name: Setup Dagger Pipeline

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  dagger:
    name: Run Dagger pipeline
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.25.0"
          cache: false

      - name: Install Go dependencies
        run: |
          if [ -f go.mod ]; then
            go mod download
          fi

      - name: Run Dagger pipeline
        uses: dagger/dagger-for-github@v8.2.0
        with:
          verb: run
          args: go run pipeline.go
          version: "0.19.7"

      - name: Upload Model Artifact
        uses: actions/upload-artifact@v4.4.0
        with:
          name: model
          path: data/processed/lead_model_lr.pkl

      - name: Run Model Inference Test Action
        uses: lasselundstenjensen/itu-sdse-project-model-validator@main